page-homepage {
    .card-title{
        position: relative;
        text-align: center;
    }

    .smallbutton{
        font-size: 6 px;
    }

    #propcoinicon{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        
    }

    .gridcolor{
        background: lightgray;
        border: think solid black;
    }
}




