.grid-style-1 { 
    background: lightgray; 
    border: think solid black;
    height: 100%; 
    justify-content: center; 
    align-items: center; 
} 

.hidden-button{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none !important;
    font-size:0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
