<ion-header>

  <ion-navbar>
    <ion-title>Overview</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h6>Hi {{user}}, <br> </h6>

  <div text-center>
    Your total Balance(HKD)
    <br/>
    <h2>
      <b>$ {{balance}}</b>
    </h2>
  </div>

  <ion-grid text-center>
    <ion-row id="header">
      <ion-col>PPC Type</ion-col>
      <ion-col>PPC</ion-col>
      <ion-col>Balance</ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <button class="grid-style-1" ion-item *ngFor="let data of balanceData" (click)="gotoCorrespondingWallet(data, transactionData)"> 
      <ion-col>{{data.region}}</ion-col>
      <ion-col>{{data.coins}}</ion-col>
      <ion-col>{{data.balance}} {{showPercentage(data.percentageChange)}}</ion-col>
    </button>  
  </ion-list>

  <br/>

  <ion-grid>
    <ion-row style="padding-top: 4px; padding-bottom: 4px; background-color: lightgray">{{transactionData.length}} Transaction History</ion-row>
     
      <div *ngFor="let data of transactionData; let i = index">
        <div *ngIf="i<4">
          <ion-item>
            <ion-row style="font-size: 14px; font-weight:bold; line-height:85%">
              <ion-col col-4> {{data.date}} </ion-col>
              <ion-col col-4> {{data.type}} </ion-col>
              <ion-col col-4> {{data.amount}} PPC </ion-col>
           </ion-row>

            <ion-row style="font-size: 11px; line-height:85%">
              <ion-col col-4> </ion-col>
              <ion-col col-4 color="gray"> {{data.region}} </ion-col>
              <ion-col col-4> </ion-col>
            </ion-row>
          </ion-item>
        </div>
      </div>

  </ion-grid>

</ion-content>