page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }
  .coin-xchg {
    width: 100%;
    background: white;
    position: absolute;
  }
  .coin-onhand {
    width: 100%;
    background: white;
    position: absolute;
  }
  
 
}
