page-wallet {
    .headerstyle{
        background-color : transparent;
    }

    .img-block {
        display: inline-block;
        height:1%;
    }

    .typeTitle{
        color: white;
        text-align: center;
    }

    .header-inline {
        display: inline;
        color: green;
    }

    .header-difference{
        color: green;
    }

    .header-text{
        color: grey;
        font-size: 11px;
        
    }

    .header-grid{
        background-color: white;
        border: 0px;
        border-radius: 10px 10px 0px 0px;
    }

    .reduced-margin-cards {
        margin: 0px !important;
        padding: 0px !important;
        width: 100%;
        border: 0px;
        box-shadow: 0 0 0;
    }

    .increased-row-height {
        background-color:rgb(91, 167, 255);
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 2px;
        margin-bottom: 2px;
        color: white;
    }

    .orange-text{
        color: rgb(214, 104, 0);
        margin-bottom: -3px;
    }

    ion-header::after{
        background-image: none;
    }

    .round-corner{
        border: 0px;
        border-radius: 20px 0px 0px 0px;
    }

    ion-content {
        background-image: url('/assets/img/wallet.png') ;
        background-size: cover;
    }

    .big-font{
        font-size: 28px;
        margin-bottom: -3px;
    }

    .transaction-font {
        height: 80%;
        text-decoration: underline;
        display: inline;
    }

    .menu-style {
        background-color: transparent;
        color: white;
    }

    ion-row {
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    ::-webkit-scrollbar,
    *::-webkit-scrollbar
    {
        display:none;
    }
}




