<ion-header>

  <ion-navbar>
    <!--<ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>-->
    <ion-title>Wallets</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

<ion-grid>
<ion-row>
  <h1 padding> Hi Customer,</h1>
</ion-row> 
<h2>
  <ion-row>
    <ion-col>
      <div>Total Cash (HKD): 999,999.99</div>
    </ion-col>
    <ion-col>
      <div>Total Coin Value (HKD): 999,999.99</div>
    </ion-col>
  </ion-row>
</h2>
</ion-grid>

<ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
       <!-- <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>-->
        <h2>{{item.coinname}}</h2>
        <p>{{item.desc}}</p>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div><ion-icon name="hand"></ion-icon> {{item.onhandttl}}</div>
            </ion-col>
            <ion-col>
              <div><ion-icon name="swap"></ion-icon> {{item.xchgttl}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          DELETE
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>